{% extends 'base.html' %}
{% block title %} Change Your Password {% endblock %}
{% block css  %}
    <style>
    ul li
    {
        color: red;
    }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <h1 class="text-center text-white bg-secondary mt-3 p-2" style="border-radius: 5px">Change Your Password</h1>
        <h5>Use the form below the change your password</h5>
        <form action="" method="post" class="form-control" novalidate>
            {% for form in form %}
                {{ form.label }}
                {{ form }}
                {{ form.errors }}
            {% endfor %}
            <input type="submit" value="Change" class="btn btn-success mt-2">
            {% csrf_token %}
        </form>
    </div>
{% endblock %}