{% extends 'base.html' %}
{% block title %} Reset Your Password {% endblock %}
{% block body %}
    <div class="container">
        <h1>Reset Your Password</h1>
        {% if validlink %}
            <h5 class="text-danger">Please enter Your Password twice :</h5>
            <form class="form-control" action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Change Your Password">
            </form>
        {% else %}
            <h5>The password reset link is invalid, possibly it has already been used. Please request a new Password
                reset </h5>
        {% endif %}
    </div>
{% endblock %}